@media (min-width: 1201px) and (max-width: 1400px) {
  nav{
    padding: 10px 110px;
  }
  .logo img{
    width: 22%;
  }
  .text{
    width: 40%;
    margin-left: 120px;
  }
  .text h1{
    font-size: 60px;
  }
  .image{
    width: 50%;
  }
  .image img{
    width: 85%;
    height: 580px;
  }
  .text ul{
    display: flex;
    position: absolute;
    top: 475px;
    left: 55px;
  }
}
